.body-wrap {
  width: 96%;
  margin: 0px auto;
}
.body-top-bar {
  border: none;
  background-color: darkgoldenrod;
  padding: 5px 0;
}
.user-dp img {
  width: 70px;
}
.user-id h4 {
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  margin: 0;
  text-align: center;
}
.logout {
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  margin-right: 10px;
}
.logout a {
  text-decoration: none;
  color: #fff;
}
.logout img {
  width: 37px;
}
.menu-list-item {
  margin: 6px 0;
}
.menu-list-item a {
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  color: #000;
}
.menu-list-item img {
  width: 112px;
  height: 112px;
  max-width: 100%;
  max-height: 100%;
}
.body-menu-list {
  background: #fff0;
  margin-top: 10px;
  padding: 15px;
}
.footer {
  color: #000;
  font-weight: 600;
}
.back-main-menu a {
  text-decoration: none;
  border: 1px solid #344f1f;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 13px;
  color: #fff !important;
  font-weight: 700;
  background: #344f1f;
  padding: 8px 10px;
  display: block;
  text-align: center;
}
.back-main-menu a:hover {
  background: #8fd9a8;
  color: #fff;
}
.single-match {
  display: inline-block;
  width: 100%;
  background: #fff;
  border-radius: 7px 7px 0 0;
  box-shadow: 0 0 2px rgb(0 0 0/20%);
}
.single-match a {
  text-decoration: none;
}
.single-match a:hover {
  text-decoration: none;
}
.single-match h5 {
  color: #fff;
  background: #3b3b3b;
  padding: 0.3em 0;
  /* border-top: 1px solid #3b3b3b; */
  text-align: center;
  border-radius: 3px 3px 0 0;
  font-weight: 700;
  font-size: 16px;
  margin: 0;
}
.single-match p {
  font-weight: 600;
  color: #000;
  margin: 0;
  font-size: 11px;
  line-height: 19px;
}
.back-main-menu {
  display: inline-block;
  width: 100%;
}

.casino_img {
  width: 200px;
  height: 203px; /* default for small screens */
  border-radius: 10px;
}

/* Medium devices and up (768px+) */
@media (min-width: 768px) {
  .casino_img {
    height: 230px;
  }
}

.casino_img_text {
  background: rgb(0, 0, 0);
  align-items: center;
  border-radius: 4px;
  display: inline-flex;
  flex: 0 0 auto;
  font-weight: 500;
  letter-spacing: 0.0892857143em;
  justify-content: center;
  outline: 0;
  position: relative;
  text-decoration: none;
  text-indent: 0.0892857143em;
  text-transform: uppercase;
  vertical-align: middle;
  color: #ffffff;
  border: none;
  margin: 0 4px;
  padding: 5px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.icon-circle {
  background-color: #023845;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto; /* center horizontally */
}

.icon-large {
  color: #fff;
  /* font-size: 80px; */
}
